.colections {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 40%;
    margin: auto;
    border-bottom: 1px solid #af977c;
    margin-top: 20px;
}

.product_type {
    cursor: pointer;
}


/* -------------productos------------- */

.products {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 80%;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    padding-bottom: 100px;
}

article {
    border: 1px solid #af977c;
    padding-bottom: 5px;
    display: flex;
    flex-flow: column;
    gap: 5px;
    width: 250px;
    border-radius: 5px;
}

article .data {
    flex-flow: column;
}

article .product_info {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 72px;
    align-items: center;
}

article img {
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #af977c;
}